<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Recipe</title>
  </head>
  <body>
    <form class="" action="/recipes" method="post">
      <input type="text" name="name" value="Enter Recipe Name">
      <input type="text" name="ingredients" value="Enter Ingredients">
      <input type="text" name="cook_time" value="Enter Cook Time">
      <input type="submit" name="" value="submit" id="submit">
    </form>

  </body>
</html>
