<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show Page</title>
  </head>
  <body>
    <%=@recipe.name%>
    <%=@recipe.ingredients%>
    <%=@recipe.cook_time%>

    <form class="" action="/recipes/<%=@recipe.id%>/delete" method="post">
      <input type="submit" name="submit" value="Delete" id="delete">
      <input id="hidden" type="hidden" name="_method" value="delete">
    </form>


  </body>
</html>
